@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 10px;
  max-width: 90vw;
  height: 75px;
}

.navbar p {
  font-style: italic;
  font-size: large;
  font-weight: 800;
  user-select: none;
}

.lists {
  list-style: none;
  display: flex;
  gap: 25px;
}

.lists li::selection {
  color: gold;
}

.login_button {
  background-color: rgb(207, 33, 33);
  font-weight: 500;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 6px;
  transition: transform 0.3s ease-in-out;
}

.login_button:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  transform: scale(1.15);
}

.Hero {
  display: flex;
  height: calc(100vh-75px);
  margin: auto 100px;
}

.Hero h1 {
  font-weight: 750;
  line-height: 102px;
  font-size: 108px;
  letter-spacing: -4px;
}

.Hero p {
  font-weight: 500;
}

.hero-btn {
  display: flex;
  gap: 40px;
}

.category {
  background: transparent;
  border: 1px solid black;
}

.category:hover {
  background-color: white;
}

.brand-icons {
  display: flex;
  gap: 25px;
  transition: transform 0.3s ease-in-out;
}

.shopping {
  margin: 10px 0;
  padding: 10px 0;
}

.brand-icons img:hover {
  transform: scale(1.15);
}
